#include "resource.h"
#include "winres.h"

// String Table
STRINGTABLE
BEGIN
    IDS_APP_TITLE       "Space Adventure Client"
    IDC_GAME_CLIENT     "SPACE_ADVENTURE_CLASS"
END

// Dialog
IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Space Adventure"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            IDI_GAME_CLIENT,IDC_STATIC,14,14,21,20
    LTEXT           "太空冒险，版本 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "版权所有 (C) 2026 太空开发团队。保留所有权利。",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "确定",IDOK,113,41,50,14,WS_GROUP
END